$index-normal: 1;
$index-top: 1000;
$index-popper: 2000;

@each $style in (normal $index-normal, top $index-top, popper $index-popper) {
    [z-#{nth($style, 1)}] {
      z-index: #{nth($style, 2)};
    }
}